.result_meter_round {
  border-radius: 50%;
  background: radial-gradient(white 66%, transparent 51%),
    conic-gradient(transparent 0deg 180deg, white 180deg),
    conic-gradient(#ff3b3f 0deg, #ffd033 90deg, #44b77b 180deg);
  transform: rotate(-90deg);
  stroke-linecap: round;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
}

.result_meter_round2 {
  border-radius: 50%;
  background: radial-gradient(white 0%, transparent 51%),
    conic-gradient(transparent 0deg 240deg, white 240deg),
    conic-gradient(#ebedf5 0deg, #ebedf5 240deg);
  transform: rotate(-30deg);
  width: 215px;
  height: 215px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result_meter_round3 {
  transform: rotate(120deg);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.result_meter_round4 {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px #eaedf5;
}
.result_meter_round5 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #ebedf5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
}

.result_meter {
  margin-top: -66px;
}
